<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View Character</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="container {% if character.is_inspired %} inspired {% else %} normal {% endif %}">

<div class="stats-row">
    <div class="stat-box">
        <h1>{{ character.name }}</h1>
        <div class="stat-inner-box">
            <p class="label" style="display: inline;">Level: </p>
            <p class="modifier" style="display: inline;">{{ character.level }}</p></div>
        <br>
        <div class="inside-box">
            <div class="buttons">

                <form id="shortRestForm" action="{{ url_for('short_rest', name=character.name) }}" method="post">
                    <button type="button" class="button" onclick="openModal()">Short Rest</button>
                    <input type="hidden" id="hitDiceHidden" name="hit_dice_roll">
                </form>

                <!-- Modal is always in the HTML but hidden by default -->
                <div id="hitDiceModal" class="modal" {% if character.active_vitality_points>=
                    character.max_vitality_points %}style="display: none;"{% endif %}>
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>Roll Your Hit Dice</h2>
                        <p class="modifier">Your hit dice is: {{ character.hit_dice }}</p>
                        <p>Enter the result of your hit dice roll:</p>
                        <input type="number" id="hitDiceInput">
                        <button onclick="submitShortRest()">Submit</button>
                    </div>
                </div>

                <form action="{{ url_for('long_rest', name=character.name) }}" method="post">
                    <button type="submit" class="button">Long Rest</button>
                </form>
            </div>
            <br>
            <div class="buttons">
                <form id="levelUpForm" action="{{ url_for('level_up', name=character.name) }}" method="post">
                    <button type="button" class="button" onclick="openLevelUpModal()">Level Up</button>
                    <input type="hidden" id="leveluphitDiceHidden" name="hit_dice_roll">
                    <input type="hidden" id="increaseWoundPointsHidden" name="increase_wound_points">
                </form>

                <!-- Level Up Modal -->
                <div id="leveluphitDiceModal" class="modal">
                   <div class="modal-content">
                        <span class="close" onclick="closeLevelUpModal()">&times;</span>
                        <h1>Level Up! </h1>
                        <h2>Roll Your Hit Dice</h2>
                        <p class="modifier">Your hit dice is: {{ character.hit_dice }}</p>
                         <p class="modifier">Enter the full result of your hit dice roll:</p>
                        <input type="number" id="leveluphitDiceInput">
                          <p class="modifier">Increase Wound Points by:</p>
                        <input type="number" id="increaseWoundPointsInput" placeholder="Optional">
                        <button onclick="submitLevelUp()">Submit</button>
                    </div>
                </div>
                <form action="{{ url_for('is_inspired', name=character.name) }}" method="post">
                    <button type="submit" class="button">
                        {% if character.is_inspired %}
                        Use Inspiration
                        {% else %}
                        Inspiration
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>

    </div>
    <div class="stat-box">
        <p class="label">Race: </p>
        <div class="stat-inner-box"><p class="modifier">{{ character.race }}</p></div>
        <p class="label">Height & Weight</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.height }} ft / {{ character.weight }} lb</p></div>
        <p class="label">Passive Perception</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.passive_perception }}</p></div>
    </div>
    <div class="stat-box">

        {% set encumbrance_levels = {
        0: "Unencumbered",
        1: "Lightly Encumbered",
        2: "Moderately Encumbered",
        3: "Heavily Encumbered",
        4: "Extremely Encumbered",
        5: "Can't move"
        } %}

        <p class="label">Movement Speed</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.active_movement_speed }}</p></div>
        <p class="label">Total AC:</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.total_ac }}</p></div>
        <p class="label">Encumbrance Level</p>
        <div class="stat-inner-box"><p class="modifier">{{ encumbrance_levels.get(character.encumbrance, "Unknown")
            }}</p></div>


    </div>
    <div class="stat-box">
        <p class="label">Vitality Points</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.active_vitality_points }} // {{
            character.max_vitality_points }}</p></div>
        <div class="buttons">
            <form action="{{ url_for('update_character', name=character.name) }}" method="post">
                <button type="submit" name="increase_vitality" class="button"
                        {% if character.active_vitality_points== character.max_vitality_points %}disabled{%
                        endif
                        %}>
                    Increase
                </button>
                <button type="submit" name="decrease_vitality" class="button">Decrease</button>
                <button type="submit" name="heal_vitality" class="button">Heal to Full</button>
            </form>
        </div>
        <br>
        <p class="label">Wound Points</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.active_wound_points }} // {{
            character.max_wound_points }}</p></div>
        <div class="buttons">
            <form action="{{ url_for('update_character', name=character.name) }}" method="post">
                <button type="submit" name="increase_wound" class="button"
                        {% if character.active_wound_points== character.max_wound_points %}disabled{% endif
                        %}>
                    Increase
                </button>
                <button type="submit" name="decrease_wound" class="button">Decrease</button>
                <button type="submit" name="heal_wound" class="button">Heal to Full</button>
            </form>
        </div>
    </div>
    <div class="stat-box">
        <p class="label">Purse</p>

        <div class="purse">
            <div class="stat-inner-box">
                <div class="coin gold">Gold: {{ character.gold }}</div>
                <div class="coin silver">Silver: {{ character.silver }}</div>
                <div class="coin copper">Copper: {{ character.copper }}</div>
            </div>
        </div>
        <br>
        <div class="stat-inner-box">
            <form action="{{ url_for('update_purse', name=character.name) }}" method="post">
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" placeholder="Enter amount" required>

                <select id="currency" name="currency">
                    <option value="gold">Gold</option>
                    <option value="silver">Silver</option>
                    <option value="copper">Copper</option>
                </select>

                <button type="submit" class="button">Update Purse</button>
            </form>
        </div>
    </div>
</div>
</div>
<br>
<!-- Character Stats -->
<div class="stats-row">
    <div class="stat-box">

        <p>ST</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.ST_modifier }}</p></div>
        <p class="value">{{ character.active_ST }}</p>
    </div>
    <div class="stat-box">
        <p>DX</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.DX_modifier }}</p></div>
        <p class="value">{{ character.active_DX }}</p>
    </div>
    <div class="stat-box">
        <p>CN</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.CN_modifier }}</p></div>
        <p class="value">{{ character.active_CN }}</p>
    </div>
    <div class="stat-box">
        <p>CH</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.CH_modifier }}</p></div>
        <p class="value">{{ character.active_CH }}</p>
    </div>
    <div class="stat-box">
        <p>IN</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.IN_modifier }}</p></div>
        <p class="value">{{ character.active_IN }}</p>
    </div>
    <div class="stat-box">
        <p>WP</p>
        <div class="stat-inner-box"><p class="modifier">{{ character.WP_modifier }}</p></div>
        <p class="value">{{ character.active_WP }}</p>
    </div>
</div>
<br>

<div class="stats-row">

    <div class="stat-box">
        <p class="label">Active Abilities</p>


        {% for ability in character.active_abilities %}
        <div class="stat-inner-box">
            <p class="modifier">{{ ability.name }}</p>
            <p class="value">Description:</p>
            <p class="modifier">{{ ability.description }}</p>
            <p class="value">DC:</p>
            <p class="modifier"> {{ ability.dc }}</p>
            <p class="value">Uses Left:</p>
            <p class="modifier"> {{ ability.uses_left }} / {{ ability.uses_per_long_rest }}</p>

            <!-- Use Charge Button -->
            <div class="buttons">
                <form action="{{ url_for('use_ability', name=character.name, ability_id=ability.id) }}"
                      method="post">
                    <button type="submit" class="button" {% if ability.uses_left== 0 %} disabled {% endif %}>Use
                        Charge
                    </button>
                </form>

                <!-- Decrease DC Button -->

                <form action="{{ url_for('decrease_dc', name=character.name, ability_id=ability.id) }}"
                      method="post">
                    <button type="submit" class="button">Decrease DC</button>
                </form>

                <!-- Increase DC Button -->
                <form action="{{ url_for('increase_dc', name=character.name, ability_id=ability.id) }}"
                      method="post">
                    <button type="submit" class="button">Increase DC</button>
                </form>
                <form action="{{ url_for('remove_active_ability', name=character.name, ability_id=ability.id) }}"
                      method="post">
                    <button type="submit" class="button">Remove</button>
                </form>
            </div>
        </div>
        <br>
        {% endfor %}

        <!-- Button to Show/Hide the Add Ability Form -->
        <button id="toggleFormButton" class="button">Add Active Ability</button>

        <!-- Hidden Form -->
        <div id="addAbilityForm" style="display: none;">
            <h2>Add Active Ability</h2>
            <form action="{{ url_for('add_active_ability', name=character.name) }}" method="post">
                <div>
                    <label for="ability_name">Ability Name:</label>
                    <input type="text" id="ability_name" name="ability_name" required>
                </div>
                <div>
                    <label for="ability_description">Description:</label>
                    <textarea id="ability_description" name="ability_description" required></textarea>
                </div>
                <div>
                    <label for="ability_dc">DC:</label>
                    <input type="number" id="ability_dc" name="ability_dc" required>
                </div>
                <div>
                    <label for="rest_type">Recharges on:</label>
                    <select id="rest_type" name="rest_type" required>
                        <option value="short_rest">Short Rest</option>
                        <option value="long_rest">Long Rest</option>
                    </select>
                </div>
                <div>
                    <label for="ability_uses">Uses per Rest:</label>
                    <input type="number" id="ability_uses" name="ability_uses" required>
                </div>
                <button type="submit" class="button">Add Ability</button>
            </form>
        </div>
        <script>
            document.getElementById("toggleFormButton").addEventListener("click", function() {
                var formDiv = document.getElementById("addAbilityForm");
                if (formDiv.style.display === "none") {
                    formDiv.style.display = "block";
                } else {
                    formDiv.style.display = "none";
                }
            });
        </script>


    </div>


    <div class="stat-box">
        <p class="label">Active Buffs and Debuffs</p>
        <div class="stat-inner-box"><p class="value"> {{ character.injury_fatigue_debuffs | safe }}</p></div>

        {% set debuff_labels = {
        "debuff_st": "Strength",
        "debuff_dx": "Dexterity",
        "debuff_in": "Intelligence",
        "debuff_ch": "Charisma",
        "debuff_cn": "Constitution",
        "debuff_wp": "Wisdom",
        "debuff_movement": "Movement Speed",
        "debuff_carry_capacity":"Carry Capacity By Size",
        "debuff_height": "Height",
        "debuff_max_vp": "Max Vitality Points",
        "debuff_max_wp": "Max Wound Points"

        } %}

        {% for debuff in character.debuffs %}
        <div class="stat-inner-box">
            {% if debuff.value != 0 %}
            {% if debuff.name in debuff_labels %}
            <span>{{ debuff.value }} {{ debuff_labels[debuff.name] }} by {{ debuff.reason }}</span>
            {% else %}
            {% set name_parts = debuff.name.split('_') %}
            {% if name_parts|length > 1 %}
            <span>{{ debuff.value }} {{ name_parts[1] | replace('_', ' ') }} by {{ debuff.reason }}</span>
            {% else %}
            <span>{{ debuff.value }} {{ debuff.name }} by {{ debuff.reason }}</span>
            {% endif %}
            {% endif %}

            <form action="{{ url_for('remove_debuff', name=character.name, debuff_id=debuff.id) }}" method="post"
                  style="display: inline;">
                {% if debuff.removable %}
                <button type="submit" class='button' style="display: inline-block;">Remove</button>
                <br>
                {% endif %}
                {% if not debuff.removable %}<br> {% endif %}
            </form>
            {% endif %}
        </div>
        {% endfor %}

    </div>


</div>

<br>
<div class="additional-stats">
    <div class="stats-row">
        <div class="additional-stats">
            <div class="stats-row">
                <div class="stat-box">
                    <div class="stat-inner-box">
                        <div class="form-container">
                            <form action="/character/{{ character.name }}/equip_weapon" method="POST">
                                <label for="weapon">Select Weapon:</label>
                                <select id="weapon" name="selected_weapon" onchange="this.form.submit()">
                                    <option value="Unarmed" {% if not character.weapon.name %}selected{% endif %}>
                                        Unarmed
                                    </option>
                                    {% for item in weapon_items %}
                                    <option value="{{ item['item_name'] }}" {% if item[
                                    'item_name'] == character.weapon.name %}selected{% endif %}>
                                    {{ item['item_name'] }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="form-container">
                            <form action="/character/{{ character.name }}/apply_weapon_proficiency" method="POST">
                                <label for="weapon_proficiency">Select Proficiency:</label>
                                <select id="weapon_proficiency" name="selected_weapon_proficiency"
                                        onchange="this.form.submit()">
                                    <option value="NO_SELECTION" {% if not character.weapon.weapon_proficiency
                                            %}selected{% endif %}>None Applies
                                    </option>
                                    {% for skill_name in character.skills.keys() %}
                                    <option value="{{ skill_name }}" {% if skill_name==
                                            character.weapon.weapon_proficiency %}selected{% endif %}>
                                        {{ skill_name }}
                                    </option>
                                    {% endfor %}
                                </select>

                            </form>
                        </div>
                    </div>
                    <div class="weapon-stats">
                        <div class="stat-inner-box">
                            <div class="stat">
                                <p class="label">Weapon Damage Dice:</p>
                                <p class="modifier">{{ character.weapon.damage_dice }}</p>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-inner-box">
                                <p class="label">Weapon To Hit:</p>
                                <p class="modifier">{{ character.weapon_hit_chances }}</p>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-inner-box">
                                <p class="label">Weapon Total Damage Modifier:</p>
                                <p class="modifier">{{ character.weapon_total_damage_modifier }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="weapon-stats">
                        <div class="stat-inner-box"><p class="label">Weapon Modifier: </p>
                            <p class="modifier">{{ character.weapon.weapon_modifiers }}</p></div>
                        <div class="stat-inner-box"><p class="label">Weapon Stat Modifier: </p>
                            <p class="modifier">{{ character.weapon.weapon_stat_modifier }}</p></div>
                    </div>
                    <div class="stat-inner-box"><p class="label">Weapon Conditions: </p>
                        <p class="modifier">{{ character.weapon.weapon_conditions }}</p></div>


                </div>
                <div class="stat-box">
                    <div class="form-container">
                        <form action="/character/{{ character.name }}/equip_armor" method="POST">
                            <label for="armor">Select Armor:</label>
                            <select id="armor" name="selected_armor" onchange="this.form.submit()">
                                <option value="No Armor" {% if not character.armor.name %}selected{% endif %}>No Armor
                                </option>
                                {% for item in armor_items %}
                                <option value="{{ item['item_name'] }}" {% if item[
                                'item_name'] == character.armor.name %}selected{% endif %}>
                                {{ item['item_name'] }}
                                </option>
                                {% endfor %}
                            </select>
                        </form>

                        <form action="/character/{{ character.name }}/toggle_shield" method="POST">
                            <div class="form-group">
                                <label for="shield_equipped">Shield Equipped:</label>
                                <input type="checkbox" id="shield_equipped" name="shield_equipped" {% if
                                       character.shield_equipped %}checked{% endif %} onclick="this.form.submit()">
                            </div>
                        </form>
                        <form action="/character/{{ character.name }}/update_temporary_armor_modifier" method="POST">

                            <label for="temporary_armor_modifier" class="label">Any Temporary Armor Effect?:</label>
                            <input type="number" id="temporary_armor_modifier" name="temporary_armor_modifier"
                                   value="{{ character.temp_armor_modifier }}" step="1" onchange="this.form.submit()">


                        </form>

                    </div>
                </div>

            </div>
            <div class="stat-box">


            </div>
        </div>
    </div>

    <div class="additional-stats">
        <div class="stats-row">
            <div class="stat-box">
                <p class="label">Injury Fatigue from Wounds</p>
                <div class="stat-inner-box"><p class="modifier">{{ character.injury_fatigue }}</p></div>
                <!--                    <div class="buttons">-->
                <!--                        <form action="{{ url_for('update_character', name=character.name) }}" method="post">-->
                <!--                            <button type="submit" name="decrease_injury_fatigue" class="button">Decrease</button>-->
                <!--                            <button type="submit" name="heal_injury_fatigue" class="button">Heal to Full</button>-->
                <!--                        </form>-->
                <!--                    </div>-->
            </div>
            <div class="stat-box">
                <p class="label">Exhaustion</p>
                <div class="stat-inner-box"><p class="modifier">{{ character.exhaustion }}</p></div>
                <div class="buttons">
                    <form action="{{ url_for('update_character', name=character.name) }}" method="post">
                        <button type="submit" name="increase_exhaustion" class="button">Increase</button>
                        <button type="submit" name="decrease_exhaustion" class="button">Decrease</button>
                        <button type="submit" name="heal_exhaustion" class="button">Recover to Full</button>
                    </form>
                </div>
            </div>

            <div class="stat-box">
                <p class="label">Manual Injury Fatigue</p>
                <div class="stat-inner-box"><p class="modifier">{{ character.extra_injury_fatigue }}</p></div>
                <div class="buttons">
                    <form action="{{ url_for('update_character', name=character.name) }}" method="post">
                        <button type="submit" name="increase_extra_injury_fatigue" class="button">Increase</button>
                        <button type="submit" name="decrease_extra_injury_fatigue" class="button">Decrease</button>
                        <button type="submit" name="heal_extra_injury_fatigue" class="button">Recover to Full</button>
                    </form>
                </div>
            </div>

        </div>
        <br>

        <br>
        <div class="stats-row">
            <div class="stat-box">
                <form action="{{ url_for('add_debuff', name=character.name) }}" method="post">
                    <label for="debuff">Choose a Debuff:</label>
                    <select id="debuff" name="debuff_name">
                        <!-- Existing debuffs -->
                        <option value="debuff_st">Strength</option>
                        <option value="debuff_dx">Dexterity</option>
                        <option value="debuff_in">Intelligence</option>
                        <option value="debuff_ch">Charisma</option>
                        <option value="debuff_cn">Constitution</option>
                        <option value="debuff_wp">Wisdom</option>
                        <option value="debuff_movement">Movement Speed</option>
                        <option value="debuff_AC">Armor Class</option>
                        <option value="debuff_carry_capacity">Carry Capacity By Size</option>
                        <option value="debuff_height">Height</option>
                        <option value="debuff_max_vp">Max Vitality Points</option>
                        <option value="debuff_max_wp">Max Wound Points</option>

                        <!-- Dynamically add skills as debuffs -->
                        {% for skill_name in character.skills.keys() %}
                        <option value="debuff_{{ skill_name|replace(' ', '_') }}">{{ skill_name }}</option>
                        {% endfor %}
                    </select>

                    <label for="debuff_value">Value:</label>
                    <input type="number" id="debuff_value" name="debuff_value" required>

                    <label for="debuff_reason">Reason:</label>
                    <input type="text" id="debuff_reason" name="debuff_reason">

                    <button type="submit" class="button">Apply Debuff</button>
                </form>
            </div>
        </div>
        <br>

        <div class="stats-row">
            <div class="stat-box">
                <p class="label">Traits</p>
                <table class="inventory-table">
    <tr>
        <th>Trait</th>
        <th>Description</th>

        <th>Actions</th>
    </tr>
    {% for trait in character.traits %}
    <tr>
        <td>{{ trait.name }}</td>

        <td>{{ trait.description }}</td>
        <td>
            <div class="buttons">

                <form action="{{ url_for('remove_trait', name=character.name, trait_id=trait.id) }}"
                      method="post">
                    <button type="submit" class="button">Remove</button>
                </form>
            </div>
        </td>
<!--        <div class="trait-edit" style="display: none;">-->
<!--            <form class="edit-trait-form"-->
<!--                  action="{{ url_for('edit_trait', name=character.name, trait_id=trait.id) }}"-->
<!--                  method="post">-->
<!--                <label for="edit_trait_name">Trait Name:</label>-->
<!--                <input type="text" id="edit_trait_name" name="trait_name" value="{{ trait.name }}" required><br><br>-->
<!--                <label for="edit_trait_description">Description:</label>-->
<!--                <textarea id="edit_trait_description" name="trait_description"-->
<!--                          required>{{ trait.description }}</textarea><br><br>-->
<!--                <button type="submit" class="button">Save</button>-->
<!--                <button type="button" class="cancel-edit-button button">Cancel</button>-->
<!--            </form>-->
<!--        </div>-->


    </tr>
    {% endfor %}
</table>


            </div>

            <div class="stat-box">
  <p class="label">Proficiencies</p>
                <table class="inventory-table">
                    <tr>
                        <th>Skill</th>
                        <!--        <th>Stat <br>Modifier</th>-->
                        <!--        <th>Stat <br>Modifier<br> Value</th>-->
                        <th>Proficiency <br>Bonus</th>
                        <th>Total Bonus</th>
                        <th>Modify</th>
                    </tr>
                    {% for skill, data in character.skills.items() %}
                    <tr>
                        <td>{{ skill }}</td>

                        <td>{{ data.proficiency_bonus }}</td>
                        <td style="color: {% if data.get('total_value', 0) >= 0 %}green{% else %}red{% endif %};">
                            {{ "+" if data.get("total_value", 0) >= 0 else "" }}{{ data.get("total_value", 0) }}
                        </td>
                        <td>
                            <div class="buttons">
                                <form action="{{ url_for('increase_proficiency', name=character.name, proficiency_id= skill )}}"
                                      method="post">
                                    <button type="submit" name="increase_proficiency" class="button"> Increase
                                    </button>

                                </form>
                                <form action="{{ url_for('decrease_proficiency', name=character.name, proficiency_id= skill )}}"
                                      method="post">
                                    <button type="submit" name="decrease_proficiency" class="button"
                                            style="background-color: green; color: white;"> Decrease
                                    </button>

                                </form>
                                <form method="post" action="{{ url_for('remove_skill', name=character.name) }}">
                                    <input type="hidden" name="skill_to_remove" value="{{ skill }}">
                                    <button type="submit" class="button" style="background-color: red; color: white;">
                                        Remove
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <form method="post" action="{{ url_for('add_custom_skill', name=character.name) }}">
                    <label for="custom_skill_name">Custom Skill Name:</label>
                    <input type="text" name="custom_skill_name" placeholder="Enter skill name">

                    <!--                <label for="custom_skill_stat">Choose Modifier Stat:</label>-->
                    <!--                <select name="custom_skill_stat">-->
                    <!--                    <option value="ST">Strength (ST)</option>-->
                    <!--                    <option value="DX">Dexterity (DX)</option>-->
                    <!--                    <option value="CN">Constitution (CN)</option>-->
                    <!--                    <option value="CH">Charisma (CH)</option>-->
                    <!--                    <option value="IN">Intelligence (IN)</option>-->
                    <!--                    <option value="WP">Willpower (WP)</option>-->
                    <!--                </select>-->
                    <button type="submit" class="button">Add Custom Skill</button>
                </form>


            </div>
        </div>
</div>

        <!-- NEW COLUMN for Inventory, Encumbrance, EMPTY -->
        <br>

        <div class="stat-row">
            <div class="inventory-table">
                <h2>Inventory</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Units</th>
                        <th>Item Name</th>
                        <th>Weight per Unit</th>
                        <th>Total Weight</th>
                        <th>Additional Information</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in character.inventory %}
                    <tr>
                        <td>{{ item.units }}</td>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.weight_per_unit }}</td>
                        <td>{{ item.total_weight }}</td>
                        <td>{{ item.additional_info }}</td>
                        <td>
                            <form action="{{ url_for('drop_item', name=character.name) }}" method="POST"
                                  style="display:inline;">
                                <input type="hidden" name="item_name" value="{{ item.item_name }}">
                                <button type="submit" name="action" class="button" value="drop">Drop Item</button>
                            </form>
                            <form action="{{ url_for('store_item', name=character.name) }}" method="POST"
                                  style="display:inline;">
                                <input type="hidden" name="item_name" value="{{ item.item_name }}">
                                <button type="submit" name="action" class="button" value="store">Store Item</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4"><strong>TOTAL INVENTORY WEIGHT</strong></td>
                        <td><strong>{{ character.total_inventory_weight }}</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="stats-row">
            <a href="{{ url_for('add_item', name=character.name) }}" class="button">Add Item</a>
        </div>
        <br>
        <div class="stats-row">
            <div class="stat-box">
                {% if character.on_the_ground %}
                <div class="on-the-ground-list">
                    <h2>On the Ground</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Units</th>
                            <th>Item Name</th>
                            <th>Weight per Unit</th>
                            <th>Total Weight</th>
                            <th>Additional Information</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in character.on_the_ground %}
                        <tr>
                            <td>{{ item.units }}</td>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.weight_per_unit }}</td>
                            <td>{{ item.total_weight }}</td>
                            <td>{{ item.additional_info }}</td>
                            <td>
                                <form action="{{ url_for('pickup_item', name=character.name) }}" method="POST"
                                      style="display:inline;">
                                    <input type="hidden" name="item_name" value="{{ item.item_name }}">
                                    <button type="submit" name="action" class="button" value="pick_up">Pick Up</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <form action="{{ url_for('reset_on_the_ground', name=character.name) }}" method="POST">
                        <button type="submit" name="action" class="button" value="reset">Reset On the Ground</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="stat-box">
                <div class="house-inventory-list">
                    {% if character.house_inventory %}
                    <h2>House Inventory</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Units</th>
                            <th>Item Name</th>
                            <th>Weight per Unit</th>
                            <th>Total Weight</th>
                            <th>Additional Information</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in character.house_inventory %}
                        <tr>
                            <td>{{ item.units }}</td>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.weight_per_unit }}</td>
                            <td>{{ item.total_weight }}</td>
                            <td>{{ item.additional_info }}</td>
                            <td>
                                <form action="{{ url_for('pickup_item', name=character.name) }}" method="POST"
                                      style="display:inline;">
                                    <input type="hidden" name="item_name" value="{{ item.item_name }}">
                                    <button type="submit" class="button" name="action" value="pick_up">Pick Up</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>


    </div>
    <form action="{{ url_for('delete_character', name=character.name) }}" method="post">
        <button type="submit" class="button">Delete Character</button>
    </form>

    <a href="{{ url_for('index') }}" class="button">Back to Character Selection</a>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleVisibility() {
        var content = document.querySelector('.collapsible-content');
        var button = document.querySelector('.toggle-button');

        // Toggle the content visibility
        content.classList.toggle('show');

        // Change arrow direction based on visibility
        if (content.classList.contains('show')) {
            button.innerHTML = '&#x2191;'; // Up arrow when expanded
        } else {
            button.innerHTML = '&#x2193;'; // Down arrow when collapsed
        }
    }

     function openModal() {
        var modal = document.getElementById("hitDiceModal");
        if (modal && modal.style.display !== "none") {
            modal.style.display = "block";
        } else {
            // If modal should not appear, just submit the form
            document.getElementById("shortRestForm").submit();
        }
    }

    function closeModal() {
        var modal = document.getElementById("hitDiceModal");
        if (modal) {
            modal.style.display = "none";
        }
    }
// Open and close functions for Level Up Modal
function openLevelUpModal() {
    console.log("Opening Level Up Modal..."); // Debugging
    document.getElementById("leveluphitDiceModal").style.display = "block";
}

function closeLevelUpModal() {
    document.getElementById("leveluphitDiceModal").style.display = "none";
}

// Submit Level Up Form
function submitLevelUp() {
    let hitDiceRoll = document.getElementById("leveluphitDiceInput").value;
    let increaseWoundPoints = document.getElementById("increaseWoundPointsInput").value;

    // Default to 0 if the field is empty or not a number
    if (hitDiceRoll.trim() === "" || isNaN(hitDiceRoll)) {
        alert("Please enter a valid hit dice roll.");
        return;
    }

    if (increaseWoundPoints.trim() === "" || isNaN(increaseWoundPoints)) {
        increaseWoundPoints = 0; // Default to 0
    }

    // Store values in hidden inputs
    document.getElementById("leveluphitDiceHidden").value = hitDiceRoll;
    document.getElementById("increaseWoundPointsHidden").value = increaseWoundPoints;

    // Submit the form
    document.getElementById("levelUpForm").submit();
}
function submitShortRest() {
    let hitDiceRoll = document.getElementById("hitDiceInput").value;
    if (hitDiceRoll.trim() === "" || isNaN(hitDiceRoll)) {
        alert("Please enter a valid number.");
        return;
    }
    document.getElementById("hitDiceHidden").value = hitDiceRoll;
    document.getElementById("shortRestForm").submit();

   }
    document.querySelectorAll(".edit-trait-button").forEach(button => {
                        button.addEventListener("click", function() {
                            const abilityBox = this.closest(".ability-box");
                            abilityBox.querySelector(".trait-display").style.display = "none";
                            abilityBox.querySelector(".trait-edit").style.display = "block";
                        });
                    });

                    document.querySelectorAll(".cancel-edit-button").forEach(button => {
                        button.addEventListener("click", function() {
                            const abilityBox = this.closest(".ability-box");
                            abilityBox.querySelector(".trait-display").style.display = "block";
                            abilityBox.querySelector(".trait-edit").style.display = "none";
                        });
                    });
</script>
</html>

